name: Publish to RubyGems

on:
  push:
    branches: [ 'main' ]

jobs:
  release:
    name: Build + Publish
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write    # Required for trusted publishing to RubyGems.org
      contents: write    # Required for rake release to push the release tag

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: .ruby-version
    - name: Publish to RubyGems
      uses: rubygems/release-gem@v1
